/* body {
    background-color: bisque;
} */

#presentacion {
    height: 85vh;
    /* display: flex;
    justify-content: start;
    align-items: center; */
}

#habilidades {
    height: 85vh;
}